<h2>Employees</h2>
<hr>
{% if not employees %}
  <p>List is empty</p>
{% else %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Last name</th>
        <th scope="col">First name</th>
        <th scope="col">Middle name</th>
        <th scope="col">Department</th>
        <th scope="col">Position</th>
        <th scope="col">Salary</th>
        <th scope="col">Hire date</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
        <tr>
          <td>{{ employee.last_name }}</td>
          <td>{{ employee.first_name }}</td>
          <td>{{ employee.middle_name }}</td>
          <td>{{ employee.department }}</td>
          <td>{{ employee.position }}</td>
          <td>{{ employee.salary }}</td>
          <td>{{ employee.hire_date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
