{% extends 'mainapp/base.html' %}
{% load static %}
{% load mptt_tags %}

{% block content %}
  <div class="row">
    <div class="col-4 p-2">
      <h2 class="">Departments</h2>
      <hr>
      <ul class="list-unstyled">
        {% recursetree departments %}
          <li class="mt-1">
            {% if not node.is_leaf_node %}
              <button type="button"
                      class="btn btn-sm btn-toggle border-0 px-0"
                      data-bs-toggle="collapse"
                      data-bs-target="#children-{{ node.pk }}"
                      aria-expanded="false">
                <img src="{% static 'img/bootstrap-icons-1.9.1/chevron-right.svg' %}"
                     width=10>
              </button>
            {% endif %}
            <button type="button"
                    class="btn btn-sm btn-department border-0 {% if not node.is_leaf_node %}ms-0{% endif %}"
                    onClick="$( '#employee-list' ).load( 'employee_list/', 'department={{ node.pk }}' );">
              {{ node.name }}
            </button>
            {% if not node.is_leaf_node %}
              <ul class="list-unstyled collapse ps-3" id="children-{{ node.pk }}">
                {{ children }}
              </ul>
            {% endif %}
          </li>
        {% endrecursetree %}
      </ul>
    </div>
    <div class="col-8" id="employee-list">
    </div>
  </div>
{% endblock %}
